.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;

  .error-code {
    font-size: 10rem;
    font-weight: bold;
    color: #1976d2;
  }

  .error-message {
    font-size: 2rem;
    margin: 20px 0;
  }

  .back-button {
    margin-top: 20px;
  }
}
