// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');

// Define font-family variables
$font-family-nunito: 'Nunito', sans-serif;
$font-family-dosis: 'Dosis', sans-serif;

// Erick Defined colors
$accent-color: #5084b4; // used for nav bar and bottom modal border color
$color-very-light-gray: rgb(240, 240, 240);
$color-light-gray: lightgray;
$color-gray: #a9a9a9;
$color-dark-gray: darkgray;
$card-border-color: rgb(203, 221, 228);
$title-color: black;
$subtitle-color: rgb(90,90,90);

// Define color variables
$primary-color: #1976d2;
$secondary-color: #f9fafb;
$text-color: darkgrey;
$button-margin-top: 16px !important;