// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');

// Define font-family variables
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Dosis', sans-serif;

// Defined colors
$accent-color: #5084b4; // used for nav bar and bottom modal border color and check mark
$color-secondary-button-text: black;
$color-error: red;
$color-background: #f9fafb;
$color-main-text: black;
$color-main-subtext: rgb(108, 108, 108);
$color-border-primary: rgb(240, 240, 240);
$color-border-secondary: rgb(203, 221, 228);
$color-checkbox-primary: lightgray;
$color-input: #a9a9a9;
$color-modal-subtitle: rgb(90, 90, 90);
$color-background-purchased: #f8fafb;

// Spacing
$gap-space: 16px;
$padding-space: 16px;
$margin-space: 16px;
