@import '../../styles/resources.scss';

$modal-padding: 8px;
$modal-gap: 16px;
$helper-text-color: grey;
$helper-text-font-size: 12px;
$modal-title-color: #5c5c5c;
$modal-text-color: #4f4f4f;
$modal-form-margin: 8px;
$modal-helper-text-position-vert: 8px;
$modal-helper-text-position-hor: 2px;

.edit-modal-content {
  display: flex;
  flex-direction: column;
  padding: $modal-padding;
  flex-grow: 1;

  .edit-modal-title {
    color: $modal-title-color;
  }

  .edit-modal-subtitle {
    color: $subtitle-color;
  }

  .edit-modal-form-container {
    margin-top: $modal-gap;
  }

  .edit-modal-helper-text {
    position: absolute;
    bottom: $modal-helper-text-position-vert;
    right: $modal-helper-text-position-hor;
    font-size: $helper-text-font-size;
    color: $helper-text-color;
    text-align: right;
  }

  .custom-checkbox-label {
    color: $color-dark-gray;
  }
  .custom-checkbox {
    color: $color-light-gray;

    &.Mui-checked {
      color: $accent-color;
    }
  }

  .edit-modal-textfield {
    .MuiOutlinedInput-root {
      .MuiOutlinedInput-notchedOutline,
      &:hover .MuiOutlinedInput-notchedOutline,
      &.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: $card-border-color !important;
      }

      .MuiInputBase-input {
        color: $color-gray !important;
      }
    }

    .MuiFormLabel-root,
    .MuiFormLabel-root.Mui-focused {
      color: $color-gray !important;
    }
  }
}
