@import '../../styles/resources.scss';

$text-color: darkgrey;
$button-margin-top: 16px !important;

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

.populated-list-container {
  width: 80%;
  padding: 16px;
  box-sizing: border-box;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;

    .header-title {
      color: black;
    }
  }
}
