@import '../../styles/resources.scss';

.item-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-space;
  border: 2px solid $color-border-primary !important;
  margin-bottom: 8px;
  border-radius: 4px;

  .custom-checkbox {
    color: $color-checkbox-primary; // Default color
    &.Mui-checked {
      color: $accent-color; // Color when checked
    }
  }

  .item-description,
  .item-due-date {
    color: $color-modal-subtitle;
  }

  .item-card-text-container {
    margin-left: $margin-space;
  }

  &.purchased {
    background-color: $color-background-purchased;
    border: 2px solid $color-background-purchased !important;

    .item-name {
      color: $accent-color;
      text-decoration: line-through;
    }

    .item-due-date,
    .item-description {
      color: $color-main-subtext;
      text-decoration: line-through;
    }
  }
}
