.item-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border: 1px solid lightgrey;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: none;
  
    .item-description {
      color: darkgrey;
    }
  
    &.purchased {
      text-decoration: line-through;
      color: grey;
  
      .item-description {
        color: grey;
      }
    }
  }
  