$modal-width: 560px;
$modal-height: 768px;
$modal-background-color: white;
$modal-border-color: #1976d2;
$modal-app-bar-background: #f9fafb;
$modal-app-bar-border: lightgrey;
$font-family: 'Dosis', sans-serif !important;
$modal-padding: 16px;
$modal-gap: 16px;
$helper-text-color: grey;
$helper-text-font-size: 12px;
$modal-title-color: #5c5c5c;
$modal-text-color: #4F4F4F;


.edit-modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $modal-width;
  height: $modal-height;
  background-color: $modal-background-color;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 8px solid $modal-border-color;

  .edit-modal-app-bar {
    background-color: $modal-app-bar-background;
    border-bottom: 1px solid $modal-app-bar-border;
    display: flex;
    align-items: center;
    padding: $modal-padding;

    .edit-modal-app-bar-text {
      font-family: $font-family;
      color: $modal-text-color !important;
      flex-grow: 1;
    }

    .edit-modal-app-bar-button {
      color: $modal-text-color !important;
    }
  }

  .edit-modal-content {
    flex-grow: 1;
    padding: $modal-padding;
    display: flex;
    flex-direction: column;

    .edit-modal-title {
      color: $modal-title-color;
      font-family: $font-family;
    }

    .edit-modal-subtitle {
      margin-top: 8px;
      margin-bottom: 8px;
      color: $modal-text-color;
      font-family: $font-family;
    }

    .edit-modal-helper-text {
      position: absolute;
      bottom: 8px; 
      right: 8px; 
      font-size: $helper-text-font-size; 
      color: $helper-text-color; 
      text-align: right;
      font-family: $font-family;
    }  

    .edit-modal-form {
      margin: 8px;
    }
  }

  .edit-modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: $modal-gap;
    padding: $modal-padding;
    margin-top: auto;

    .edit-modal-actions-button {
      text-transform: none;
      font-family: $font-family;
    }
  }
}
