@import '../../styles/resources.scss';

$text-color: darkgrey;
$button-margin-top: 16px !important;

.empty-list-container {
  display: flex;
  flex-direction: column; // Arrange children vertically
  justify-content: flex-start; // Align items at the start
  align-items: center; // Center items horizontally
  box-sizing: border-box;
  height: 100%;
  padding-top: 10vh; // Push the card down by 33% of the viewport height

  .empty-list-card {
    width: 614px;
    height: 290px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: none;
    border: 1px solid lightgrey;

    .empty-list-text {
      color: $text-color;
      text-transform: none !important;
    }

    .empty-list-button {
      margin-top: $button-margin-top;
      text-transform: none !important;
      background-color: #3173e0 !important;
    }
  }
}
