.empty-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.empty-list-card {
  width: 614px;
  height: 290px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty-list-text {
  font-family: 'Nunito', sans-serif !important;
  color: darkgrey;
  text-transform: none !important;
}

.empty-list-button {
  font-family: 'Nunito', sans-serif !important;
  margin-top: 16px !important;
  text-transform: none !important;
}
