@import "../../styles/resources.scss";

$modal-app-bar-background: #f9fafb;
$modal-app-bar-border: lightgrey;
$modal-text-color: #4f4f4f;
$font-family: 'Dosis', sans-serif !important;

.modal-app-bar {
  background-color: $modal-app-bar-background;
  border-bottom: 1px solid $color-very-light-gray;
  display: flex;
  align-items: center;

  .modal-app-bar-text {
    font-family: $font-family;
    color: $modal-text-color !important;
    flex-grow: 1;
  }

  .modal-app-bar-icon {
  align-items: center;
  color: $modal-text-color !important;
  }
}
