@import '../../styles/resources.scss';

.modal-app-bar {
  background-color: $color-background;
  border-bottom: 1px solid $color-border-primary;
  display: flex;
  align-items: center;

  .modal-app-bar-text {
    font-family: $font-secondary !important;
    color: $color-main-text !important;
    flex-grow: 1;
  }

  .modal-app-bar-icon {
    align-items: center;
    color: $color-main-text !important;
  }
}
