@import '../../styles/resources.scss';

$progress-dimensions: 10vh;

.loading-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10vh;
}

.circular-progress {
  color: $accent-color;
  width: $progress-dimensions !important;
  height: $progress-dimensions !important;
}
