.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .circular-progress {
    width: 80px !important;
    height: 80px !important;
  }
  