@import '../../styles/resources.scss';

$modal-width: 480px;
$modal-height: auto;
$modal-padding: 32px;
$button-primary-color: #1a73e8;

.delete-modal-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $modal-width;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $modal-padding;
  border-radius: 4px;
  height: $modal-height;

  .delete-modal-title {
    color: $color-main-text;
    margin-bottom: 8px;
  }

  .delete-modal-subtitle {
    color: $color-main-subtext;
    margin-bottom: 24px;
  }

  .delete-modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: $gap-space;

    .delete-modal-actions-button {
      text-transform: none;
      color: black;
    }

    .delete-modal-actions-button:last-of-type {
      background-color: $button-primary-color;
      color: white;
    }
  }
}
