@import './styles/resources.scss';

/* Override Material-UI typography styles */
.MuiTypography-root {
  font-family: $font-primary !important;
}

/* Override Material-UI Button styles */
.MuiButton-root {
  font-family: $font-primary !important;
  text-transform: none !important;
}

.MuiInputBase-input {
  font-family: $font-primary !important;
}

.MuiInputLabel-root {
  font-family: $font-primary !important;
}

.MuiMenuItem-root {
  font-family: $font-primary !important;
}
