@import '../../styles/resources.scss';

$modal-padding: 16px;
$modal-gap: 16px;
$modal-actions-padding: 8px;

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: $modal-gap;
  padding: $modal-padding;
  position: absolute;
  bottom: $modal-actions-padding;
  right: $modal-actions-padding;
  width: 100%;

  .modal-actions-button {
    text-transform: none;
  }

  .modal-actions-button-cancel {
    color: black;
  }
}
