@import '../../styles/resources.scss';

$modal-actions-padding: 8px;

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: $gap-space;
  padding: $padding-space;
  position: absolute;
  bottom: $modal-actions-padding;
  right: $modal-actions-padding;
  width: 100%;

  .modal-actions-button {
    text-transform: none;
  }

  .modal-actions-button-cancel {
    color: $color-secondary-button-text;
  }
}
